<style>

a:hover {
    background-color: white;
} 
</style>


<div style="height:auto; border:solid 1px #000; margin:0 30px 0 30px; box-shadow: 10px 10px 5px #888888; padding:10px;">
<div style="height:400px; width:550px; border:solid 1px #000; margin:0 0 0 0; float:left;">
	<div style="background:#d6e7b6; height:25px; text-align:center;"> User Settings</div>

	<table style="width:100px; border:none; float:left; margin-right:20px;">
		<tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
			<td style="width:auto;"><a href="users/new" style="height:50px; margin-left:0px;"><img src="/add.png" width="120" height="100"/></a></td>
		</tr>
		<tr style="width:auto; border:none;">
			<td style="width:100px; ">Edit Users</td>
		</tr>
	</table>

	<table style="width:100px; border:none;">
		<tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
			<td style="width:auto;"><a href="configurations/index" style="height:50px; margin-left:0px;"><img src="/settings2.jpg" width="120" height="100"/></a></td>
		</tr>
		<tr style="width:auto; border:none;">
			<td style="width:100px; ">Configurations</td>
		</tr>
	</table>


</div>



<div style="height:400px; width:550px; border:solid 1px #000; margin:0 30px 0 30px; margin-left:650px; backgound:#000;"></div>


</div>