<style>

a:hover {
    background-color: white;
} 
</style>


<% if flash[:notice]%>
    <div class="alert alert-success">
      <img src="/check.png" width="30" height="20"/><%= flash[:notice]%>
    </div>
<%end%>


<div style="height:1000px; border:solid 1px #000; margin:0 30px 0 30px; box-shadow: 10px 10px 5px #888888; padding:10px;">
<div style="height:auto; width:550px; border:solid 1px #000; margin:0 0 0 0; float:left;">              
                      
                    
  <div style="background:#d6e7b6; height:125px; text-align:center;"><img src="/admin2.png" width="120" height="60"/> Admin Panel</div>

  <table style="width:100px; border:none; float:left; margin-right:20px;">
    <tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
      <td style="width:auto;"><a href="admin/new" style="height:50px; margin-left:0px;"><img src="/add.png" width="120" height="100"/></a></td>
    </tr>
    <tr style="width:auto; border:none;">
      <td style="width:100px; ">Add Users</td>
    </tr>
  </table>

  <table style="width:100px; border:none;">
    <tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
      <td style="width:auto;"><a href="user_settings" style="height:50px; margin-left:0px;"><img src="/set4.jpeg" width="120" height="80"/></a></td>
    </tr>
    <tr style="width:auto; border:none;">
      <td style="width:100px; ">User Settings</td>
    </tr>
  </table></br>

  <table style="width:100px; border:none; float:left; margin-top:-10px">
    <tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
      <td style="width:auto;"><a href="valuers" style="height:50px; margin-left:0px;"><img src="/add.png" width="120" height="100"/></a></td>
    </tr>
    <tr style="width:auto; border:none;">
      <td style="width:100px; ">Valuers</td>
    </tr>
  </table>

  <table style="width:100px; border:none; float:left; margin-left:20px; margin-top:-10px;">
    <tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
      <td style="width:auto;"><a href="valuation_fees" style="height:50px; margin-left:0px;"><img src="/add.png" width="120" height="100"/></a></td>
    </tr>
    <tr style="width:auto; border:none;">
      <td style="width:100px; ">Valuation Fees</td>
    </tr>
  </table> 


</div>



<div style="height:400px; width:550px; border:solid 1px #000; margin:0 30px 0 30px; margin-left:650px; backgound:#000;">
  <div style="background:#d6e7b6; height:25px; text-align:center;"> Admin Panel</div>


  <table style="width:100px; border:none; float:left; margin-left:20px;">
    <tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
      <td style="width:auto;"><a href="law_firms" style="height:50px; margin-left:0px;"><img src="/admin.png" width="120" height="100"/></a></td>
    </tr>
    <tr style="width:auto; border:none;">
      <td style="width:100px; ">Law Firms</td>
    </tr>
  </table>

  <table style="width:100px; border:none; float:left; margin-left:20px;">
    <tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
      <td style="width:auto;"><a href="legal_fees" style="height:50px; margin-left:0px;"><img src="/edit.png" width="110" height="100"/></a></td>
    </tr>
    <tr style="width:auto; border:none;">
      <td style="width:100px; ">Legal Fees</td>
    </tr>
  </table>

  <table style="width:100px; border:none; float:left; margin-left:20px;">
    <tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
      <td style="width:auto;"><a href="insurance_firms" style="height:50px; margin-left:0px;"><img src="/approve.png" width="120" height="100"/></a></td>
    </tr>
    <tr style="width:auto; border:none;">
      <td style="width:100px; ">Insurance Firms</td>
    </tr>
  </table>

  <table style="width:100px; border:none; float:left; margin-left:20px;">
    <tr style="width:auto; text-align:left; border:none;box-shadow: 10px 10px 5px #888888;">
      <td style="width:auto;"><a href="insurance_premiums" style="height:50px; margin-left:0px;"><img src="/profile.png" width="100" height="100"/></a></td>
    </tr>
    <tr style="width:auto; border:none;">
      <td style="width:100px; ">Insurance Premiums</td>
    </tr>
  </table>

</div>

